/* Landing Page  */

/* cs-header start  */

.cs-header .hamburger {
    display: none;
}

.cs-header .hamburger button {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
}

.cs-header, .cs-banner {
    background-color: #f8f9fb;
}

.cs-header .container {
    display: flex;
    align-items: center;
    padding-block: 20px;
    gap: 64px;
}

.cs-header .menu {
    display: flex;
    flex-grow: 1;
}

.cs-header .menu ul {
    flex-grow: 1;
    display: flex;
    gap: 32px;
    align-items: center;
}

.cs-header .menu .resources ul {
    display: none;
    position: absolute;
    left: -10px;
    background-color: #f8f9fb;
}

.cs-header .menu .resources ul li {
    border-bottom: 1px solid #EAEBF0;
}

.cs-header .menu .resources a {
    padding: 5px 8px;
    width: 100%;
    display: block;
}

.cs-header .menu .resources img {
    display: inline;
}

.cs-header .menu .resources {
    position: relative;
}

.cs-header .menu .resources:hover ul {
    display: block;
}

.cs-header .menu .resources span {
    color: #272D37;
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

/* cs-header end  */

/* .cs-header responsive start */

@media (width > 768px ) and (width < 930px) {
    .cs-header a, .cs-header .resources span {
        font-size: 12px !important;
    }
    .cs-header .container {
        gap: 32px;
    }
    .cs-header .menu ul {
        gap: 24px;
    }
}

@media (width < 769px) {
    .cs-header .menu {
        display: none;
    }
    .cs-header .container{
        justify-content: space-between;
    }
    .cs-header .hamburger {
        display: block;
    }
}

/* .cs-header responsive end */

/* cs-banner start  */

.cs-banner .container {
    text-align:center;
    max-width:900px ;
    padding: 48px 32px;
    margin-bottom: 16px;
}

.cs-banner .btn {
    margin-bottom: 32px;
}

.cs-banner h1 {
    margin-bottom: 24px;
}

.cs-banner p {
    margin-bottom: 36px;
}

/* cs-banner end  */

/* cs-banner responsive start  */

@media (width < 769px ) {
    .cs-banner .container {
        max-width:670px ;
    }
}

@media (width < 376px) {
    .cs-banner h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
    }

    .cs-banner p {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.1px;
    }
    .cs-banner .container {
        max-width: 343px;
        padding: 24px 16px;
    }
    .cs-banner .btn {
        display: flex;
        flex-direction: column;
        padding-inline: 2px;
    }
    .cs-banner .btn button {
        width: 100%;
    }
}
/* .cs-banner responsive end */

/* title-section start  */

.cs-title-section {
    max-width: 800px;
    text-align: center;
    margin-bottom: 64px;
}

/* title-section end  */

/* title-section responsive start  */

@media (width < 769px ) {
    .cs-title-section {
        max-width: 704px;
    }
}

@media (width < 376px) {
    .cs-title-section {
        max-width: 343px;
    }
    .cs-title-section h2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.48px;
    }
    .cs-title-section p {
        font-size: 16px;
    }
}

/* title-section responsive end  */

/* cards-section start  */

.cs-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cs-cards-section .cs-card {
    border-radius: 5px;
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    padding: 24px 32px;
    margin: 16px;
}

.cs-cards-section .card-img-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cs-cards-section .btn-transparent {
    color:#272D37;
    border-radius: 6px;
    border: 1px solid  #DAE0E6;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

/* cards-section end  */

